# Team Rating Model

### Data Cleaning/Preprocessing

In [78]:
import pandas as pd
import numpy as np
import sklearn
import math

In [79]:
#prep the dataset with only the features we want
df=pd.read_csv('Data/Data.csv')
columns=df.columns
print(columns)
wanted_columns=['Player','Tm','ORtg','DRtg']
for column in wanted_columns:
    columns=columns.drop(column)
print(columns)
df=df.drop(columns=columns)
df

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'TMP', 'ORtg',
       'DRtg', 'PER', 'TS%', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'PG%', 'SG%', 'SF%', 'PF%', 'C%', 'OnCourt', 'On-Off',
       'BadPass', 'LostBall', 'ShootFC', 'OffFC', 'ShootFD', 'OffFD', 'PGA',
       'And1', 'Blkd', 'Dist.', '%2PFGA', '0-3%FGA', '3-10%FGA', '10-16%FGA',
       '16-3P%FGA', '%3PFGA', '0-3FG%', '3-10FG%', '10-16FG%', '16-3PFG%',
       '2P%A', '3P%A', 'Dunk%FGA', 'Dunks', 'C3%3PA', 'C33P%', 'Season '],
      dtype='object')
Index(['Pos', 'Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'TMP', 'PER', 'TS%', 'FTr',
       'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS',
       'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'PG%', 'SG%',
       'SF%', 'PF%', 'C%', 'OnCourt', 'On-Off', 'BadPass', 'LostBall',
       'ShootFC', 'OffFC', 'ShootFD', 'OffFD', 'PGA', 'And1', 'Blkd', 'Dist.',
       '%2PFGA', '0-3%FGA', '3-10%FGA', '10-16%FGA', '16-3P%FGA', '%3PFGA',
       '0-3FG%', '3-10FG%', '10-16FG%', '16-3PFG%', '2P%A', '3P%A', 'Dunk%FGA',
       'Dunks', 'C3%3PA', 'C33P%', 'Season '],
      dtype='object')

               Player   Tm   ORtg   DRtg
0    Precious Achiuwa  TOR  112.0  113.0
1        Steven Adams  MEM  118.0  108.0
2         Bam Adebayo  MIA  115.0  111.0
3        Ochai Agbaji  UTA  115.0  121.0
4        Santi Aldama  MEM  120.0  111.0
..                ...  ...    ...    ...
675        Trae Young  ATL  116.0  119.0
676    Omer Yurtseven  MIA  126.0  112.0
677       Cody Zeller  MIA  124.0  114.0
678       Ivica Zubac  LAC  125.0  112.0
679               NaN  NaN    NaN    NaN

[680 rows x 4 columns]

In [80]:
#Create a new column Ofensive rating - defensive rating 
#def NetRating(offrt,defrt):
#    return offrt-defrt
df['NetRtg']=df['ORtg']-df['DRtg']
df=df.drop(columns=['ORtg','DRtg'])
df=df.dropna()
df

               Player   Tm  NetRtg
0    Precious Achiuwa  TOR    -1.0
1        Steven Adams  MEM    10.0
2         Bam Adebayo  MIA     4.0
3        Ochai Agbaji  UTA    -6.0
4        Santi Aldama  MEM     9.0
..                ...  ...     ...
674    Thaddeus Young  TOR     5.0
675        Trae Young  ATL    -3.0
676    Omer Yurtseven  MIA    14.0
677       Cody Zeller  MIA    10.0
678       Ivica Zubac  LAC    13.0

[678 rows x 3 columns]

In [81]:
list_of_teams=df['Tm'].tolist()
list_of_teams=set(list_of_teams)
list_of_teams=list(list_of_teams)
team_dict={}
for team in list_of_teams:
    df_temp=df[df['Tm']==team]
    df_temp=df_temp.drop(columns=['Tm'])
    team_dict[team]=df_temp.values.tolist()
def getTopN(team_roster,n):
    #this will be inputted as a list of lists with the first index being player and last index being rating
    #we want to get the the top n players from this 
    #I could create a data type for player and rating and sort based on that 
    #I could find the index of the largest and then remove it and add to anther list n times
    top_players=[]
    for i in range(n):
        max_rating=['',float('-inf')]
        max_index=0
        for i in range(len(team_roster)):
            player=team_roster[i]
            if player[1]>max_rating[1]:
                max_rating=player
                max_index=i
        team_roster.remove(max_rating)
        top_players.append(max_rating)
    return top_players
for key,value in team_dict.items():
    team_dict[key]=getTopN(value,5)
for key,value in team_dict.items():
    print(key,value)

MIL [['Jae Crowder', 22.0], ['Brook Lopez', 13.0], ['Meyers Leonard', 10.0], ['Grayson Allen', 9.0], ['Giannis Antetokounmpo', 9.0]]
OKC [['Shai Gilgeous-Alexander', 12.0], ['Kenrich Williams', 12.0], ['Mike Muscala', 11.0], ['Isaiah Joe', 9.0], ['Jeremiah Robinson-Earl', 6.0]]
PHO [['Kevin Durant', 13.0], ['Cameron Johnson', 13.0], ['Chris Paul', 10.0], ['Deandre Ayton', 8.0], ['Jock Landale', 6.0]]
MEM [['Luke Kennard', 31.0], ['Brandon Clarke', 22.0], ['Xavier Tillman Sr.', 20.0], ['Jaren Jackson Jr.', 13.0], ['Steven Adams', 10.0]]
WAS [['Jordan Schakel', 55.0], ['Jay Huff', 35.0], ['Daniel Gafford', 22.0], ['Delon Wright', 15.0], ['Anthony Gill', 8.0]]
PHI [['Paul Reed', 17.0], ['Joel Embiid', 15.0], ['Montrezl Harrell', 11.0], ['James Harden', 10.0], ['Louis King', 9.0]]
CHI [['Terry Taylor', 54.0], ['Tony Bradley', 25.0], ['Javonte Green', 13.0], ['Andre Drummond', 10.0], ['Derrick Jones Jr.', 10.0]]
BOS [['Robert Williams', 36.0], ['Luke Kornet', 32.0], ['Al Horford', 21.0], ['Blake Griffin', 16.0], ['Derrick White', 12.0]]
ATL [['Clint Capela', 24.0], ['Onyeka Okongwu', 22.0], ['Frank Kaminsky', 17.0], ['Garrison Mathews', 10.0], ['Saddiq Bey', 7.0]]
BRK [['Nic Claxton', 24.0], ['Kevin Durant', 9.0], ['Yuta Watanabe', 9.0], ['Dru Smith', 8.0], ["Day'Ron Sharpe", 7.0]]
LAC [['Mason Plumlee', 25.0], ['Moses Brown', 13.0], ['Ivica Zubac', 13.0], ['Kawhi Leonard', 12.0], ['Nicolas Batum', 6.0]]
DET [['Braxton Key', 103.0], ['Stanley Umude', 82.0], ['Jalen Duren', 10.0], ['Alec Burks', 1.0], ['Marvin Bagley III', -1.0]]
POR [['Drew Eubanks', 15.0], ['Skylar Mays', 11.0], ['Gary Payton II', 10.0], ['Jeenathan Williams', 10.0], ['Shaquille Harrison', 7.0]]
SAC [['Keon Ellis', 24.0], ['Domantas Sabonis', 18.0], ['Neemias Queta', 13.0], ['Chimezie Metu', 11.0], ['Richaun Holmes', 9.0]]
CHO [['Mason Plumlee', 19.0], ['Nick Richards', 17.0], ['Mark Williams', 15.0], ['Xavier Sneed', 4.0], ['Svi Mykhailiuk', -4.0]]
MIN [['A.J. Lawson', 93.0], ['Rudy Gobert', 18.0], ['Mike Conley', 14.0], ['Luka Garza', 13.0], ['Josh Minott', 10.0]]
SAS [['Charles Bassey', 6.0], ['Jakob Poeltl', 3.0], ['Dominick Barlow', 2.0], ['Keita Bates-Diop', 1.0], ['Stanley Johnson', -2.0]]
ORL [['Goga Bitadze', 19.0], ['Mo Bamba', 13.0], ['Moritz Wagner', 8.0], ['Wendell Carter Jr.', 6.0], ['Gary Harris', 6.0]]
UTA [['Walker Kessler', 29.0], ['Micah Potter', 29.0], ['Damian Jones', 20.0], ['Udoka Azubuike', 17.0], ['Jarrell Brantley', 16.0]]
DAL [['Tyler Dorsey', 49.0], ['Dwight Powell', 24.0], ['Kyrie Irving', 10.0], ['Luka Dončić', 7.0], ['Christian Wood', 3.0]]
NYK [['Mitchell Robinson', 32.0], ['Jericho Sims', 32.0], ['Josh Hart', 24.0], ['Isaiah Hartenstein', 13.0], ['Svi Mykhailiuk', 13.0]]
NOP [['Larry Nance Jr.', 24.0], ['Trey Murphy III', 14.0], ['Willy Hernangómez', 10.0], ['Zion Williamson', 8.0], ['Jaxson Hayes', 6.0]]
TOT [['Thomas Bryant', 20.0], ['Mason Plumlee', 20.0], ['Gary Payton II', 16.0], ['Frank Kaminsky', 15.0], ['Damian Jones', 13.0]]
CLE [['Jarrett Allen', 24.0], ['Sam Merrill', 14.0], ['Raul Neto', 13.0], ['Isaac Okoro', 11.0], ['Dylan Windler', 11.0]]
TOR [['Justin Champagnie', 89.0], ['Jakob Poeltl', 22.0], ['Ron Harper Jr.', 20.0], ['Otto Porter Jr.', 20.0], ['Chris Boucher', 13.0]]
DEN [['Nikola Jokić', 24.0], ['Aaron Gordon', 9.0], ['DeAndre Jordan', 5.0], ['Zeke Nnaji', 5.0], ['Jack White', 4.0]]
MIA [['Jimmy Butler', 23.0], ['Jamal Cain', 19.0], ['Omer Yurtseven', 14.0], ['Orlando Robinson', 11.0], ['Cody Zeller', 10.0]]
GSW [['Kevon Looney', 36.0], ['Gary Payton II', 27.0], ['Ty Jerome', 9.0], ['James Wiseman', 9.0], ['Stephen Curry', 8.0]]
IND [['George Hill', 20.0], ['Tyrese Haliburton', 11.0], ['Myles Turner', 7.0], ['Isaiah Jackson', 6.0], ['Gabe York', 2.0]]
LAL [['Davon Reed', 44.0], ['Thomas Bryant', 26.0], ['Anthony Davis', 16.0], ['Austin Reaves', 12.0], ['Wenyen Gabriel', 10.0]]
HOU [['Darius Days', 12.0], ['Boban Marjanović', 10.0], ['Frank Kaminsky', 9.0], ['Kenyon Martin Jr.', 5.0], ['Bruno Fernando', 4.0]]

In [82]:
df_team=pd.read_csv('Data/TeamData.csv')
#df_team
#converting team name so it lines up
#when player data is in organize it into a dataframe for the 
df_players=pd.read_csv('Data/AllPlayerNoSalaryCleaned.csv')
df_players

,Unnamed: 0,Player,Tm,G,3P,3P%,2P,2P%,FT%,ORB,...,3-10FG%,10-16FG%,16-3PFG%,2P%A,3P%A,Dunk%FGA,C3%3PA,C33P%,Season,TruePos
0,0,Precious Achiuwa,TOR,55.0,0.5,0.269,3.0,0.564,0.702,1.8,...,0.417,0.276,0.200,0.629,1.000,0.141,0.444,0.250,2023.0,4.83
1,1,Steven Adams,MEM,42.0,0.0,0.000,3.7,0.599,0.364,5.1,...,0.500,0.400,NaN,0.503,NaN,0.163,1.000,0.000,2023.0,5.00
2,2,Bam Adebayo,MIA,75.0,0.0,0.083,8.0,0.545,0.806,2.5,...,0.478,0.498,0.288,0.601,1.000,0.136,0.000,NaN,2023.0,5.00
3,3,Ochai Agbaji,UTA,59.0,1.4,0.355,1.4,0.532,0.812,0.7,...,0.494,0.400,0.444,0.762,0.988,0.054,0.412,0.457,2023.0,1.90
4,4,Santi Aldama,MEM,77.0,1.2,0.353,2.0,0.591,0.750,1.1,...,0.471,0.250,0.444,0.680,0.968,0.118,0.391,0.365,2023.0,4.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10381,10381,Dedric Willoughby,CHI,25.0,1.2,0.296,1.3,0.395,0.765,0.4,...,0.214,0.300,0.447,0.688,0.759,0.000,0.163,0.313,NaN,1.33
10382,10382,Haywoode Workman,TOT,36.0,0.4,0.326,0.5,0.362,0.667,0.0,...,0.000,0.286,0.391,0.529,0.786,0.000,0.349,0.400,NaN,1.11
10383,10383,Metta World Peace,CHI,72.0,0.8,0.314,3.5,0.438,0.674,0.9,...,0.268,0.242,0.361,0.518,0.917,0.040,0.283,0.278,NaN,2.74
10384,10384,Lorenzen Wright,ATL,75.0,0.0,0.333,2.4,0.500,0.644,1.6,...,0.424,0.385,0.353,0.536,1.000,0.089,0.333,1.000,NaN,4.71
10385,10385,Tim Young,GSW,25.0,0.0,NaN,0.5,0.333,0.778,0.5,...,0.222,0.500,0.250,0.385,NaN,0.000,NaN,NaN,NaN,5.00

In [87]:
columns=df_players.columns
print(columns)
wanted_columns=['Player','Tm','ORtg','DRtg','Season']
for column in wanted_columns:
    columns=columns.drop(column)
df_player=df_players.drop(columns=columns)
df_player

Index(['Unnamed: 0', 'Player', 'Tm', 'G', '3P', '3P%', '2P', '2P%', 'FT%',
       'ORB', 'DRB', 'AST', 'STL', 'BLK', 'TOV', 'PTS', 'ORtg', 'DRtg', 'ORB%',
       'DRB%', 'AST%', 'STL%', 'BLK%', 'USG%', 'PG%', 'SG%', 'SF%', 'PF%',
       'C%', 'PGA', 'Blkd', 'Dist.', '%2PFGA', '0-3%FGA', '3-10%FGA',
       '10-16%FGA', '16-3P%FGA', '%3PFGA', '0-3FG%', '3-10FG%', '10-16FG%',
       '16-3PFG%', '2P%A', '3P%A', 'Dunk%FGA', 'C3%3PA', 'C33P%', 'Season',
       'TruePos'],
      dtype='object')

                  Player   Tm   ORtg   DRtg  Season
0       Precious Achiuwa  TOR  112.0  113.0  2023.0
1           Steven Adams  MEM  118.0  108.0  2023.0
2            Bam Adebayo  MIA  115.0  111.0  2023.0
3           Ochai Agbaji  UTA  115.0  121.0  2023.0
4           Santi Aldama  MEM  120.0  111.0  2023.0
...                  ...  ...    ...    ...     ...
10381  Dedric Willoughby  CHI   96.0  106.0     NaN
10382   Haywoode Workman  TOT   99.0  108.0     NaN
10383  Metta World Peace  CHI   95.0  103.0     NaN
10384    Lorenzen Wright  ATL  106.0  106.0     NaN
10385          Tim Young  GSW  103.0  110.0     NaN

[10386 rows x 5 columns]

In [88]:
#get this data into a df with just netrating and team X y training set for the model
#i need to watch the encoder video 
df_player.dropna(subset=['Season'], inplace=True)
df_player

                Player   Tm   ORtg   DRtg  Season
0     Precious Achiuwa  TOR  112.0  113.0  2023.0
1         Steven Adams  MEM  118.0  108.0  2023.0
2          Bam Adebayo  MIA  115.0  111.0  2023.0
3         Ochai Agbaji  UTA  115.0  121.0  2023.0
4         Santi Aldama  MEM  120.0  111.0  2023.0
...                ...  ...    ...    ...     ...
2350    Thaddeus Young  IND  113.0  106.0  2019.0
2351        Trae Young  ATL  107.0  117.0  2019.0
2352       Cody Zeller  CHO  123.0  111.0  2019.0
2353        Ante Žižić  CLE  116.0  117.0  2019.0
2354       Ivica Zubac  TOT  116.0  108.0  2019.0

[2355 rows x 5 columns]

In [89]:
df_player.head

<bound method NDFrame.head of                 Player   Tm   ORtg   DRtg  Season
0     Precious Achiuwa  TOR  112.0  113.0  2023.0
1         Steven Adams  MEM  118.0  108.0  2023.0
2          Bam Adebayo  MIA  115.0  111.0  2023.0
3         Ochai Agbaji  UTA  115.0  121.0  2023.0
4         Santi Aldama  MEM  120.0  111.0  2023.0
...                ...  ...    ...    ...     ...
2350    Thaddeus Young  IND  113.0  106.0  2019.0
2351        Trae Young  ATL  107.0  117.0  2019.0
2352       Cody Zeller  CHO  123.0  111.0  2019.0
2353        Ante Žižić  CLE  116.0  117.0  2019.0
2354       Ivica Zubac  TOT  116.0  108.0  2019.0

[2355 rows x 5 columns]>

In [96]:
# we will need to make and append to a dataframe and the dataframe should look like 
# player 1 -through- player n, team name, year, team rating
years=range(2000,2024)
for year in years:
    temp_df=df_player[df_player['Season']==year]
    #print(temp_df)

In [97]:
df_team
dict_team_names={'Boston Celtics':'BOS','Cleveland Cavaliers':'CLE','Philadelphia 76ers':'PHI','Memphis Grizzlies':'MEM','Milwaukee Bucks':'MIL','Vancouver Grizzlies':'VAN','Atlanta Hawks':'ATL','Golden State Warriors':'GSW','Chicago Bulls':'CHI','Los Angeles Clippers':'LAC'}
print(len(dict_team_names))

10