In [38]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../Data/YearlyData/2023Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2023NoDup.csv")

In [4]:
df = pd.read_csv("../Data/YearlyData/2022Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2022NoDup.csv")

In [8]:
df = pd.read_csv("../Data/YearlyData/2021Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2021NoDup.csv")

In [9]:
df = pd.read_csv("../Data/YearlyData/2020Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2020NoDup.csv")

In [10]:
df = pd.read_csv("../Data/YearlyData/2019Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2019NoDup.csv")

In [12]:
df = pd.read_csv("../Data/YearlyData/2018Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2018NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2017Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2017NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2016Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2016NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2015Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2015NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2014Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2014NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2013Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2013NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2012Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2012NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2011Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2011NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2010Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2010NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2009Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2009NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2008Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2008NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2007Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2007NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2006Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2006NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2005Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2005NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2004Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2004NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2003Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2003NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2002Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2002NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2001Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2001NoDup.csv")

df = pd.read_csv("../Data/YearlyData/2000Data.csv")
df = df[df['G'] > 10]
duplicates_mask = df['Player'].duplicated(keep='first')
df_no_dup = df[~duplicates_mask]
df_no_dup.to_csv("../Data/YearlyData/2000NoDup.csv")

In [18]:
one = pd.read_csv("../Data/YearlyData/2023NoDup.csv")
two = pd.read_csv("../Data/YearlyData/2022NoDup.csv")
three = pd.read_csv("../Data/YearlyData/2021NoDup.csv")
four = pd.read_csv("../Data/YearlyData/2020NoDup.csv")
five = pd.read_csv("../Data/YearlyData/2019NoDup.csv")
q = pd.read_csv("../Data/YearlyData/2018NoDup.csv")
w = pd.read_csv("../Data/YearlyData/2017NoDup.csv")
e = pd.read_csv("../Data/YearlyData/2016NoDup.csv")
r = pd.read_csv("../Data/YearlyData/2015NoDup.csv")
t = pd.read_csv("../Data/YearlyData/2014NoDup.csv")
y = pd.read_csv("../Data/YearlyData/2013NoDup.csv")
u = pd.read_csv("../Data/YearlyData/2012NoDup.csv")
i = pd.read_csv("../Data/YearlyData/2011NoDup.csv")
o = pd.read_csv("../Data/YearlyData/2010NoDup.csv")
p = pd.read_csv("../Data/YearlyData/2009NoDup.csv")
a = pd.read_csv("../Data/YearlyData/2008NoDup.csv")
s = pd.read_csv("../Data/YearlyData/2007NoDup.csv")
d = pd.read_csv("../Data/YearlyData/2006NoDup.csv")
f = pd.read_csv("../Data/YearlyData/2005NoDup.csv")
g = pd.read_csv("../Data/YearlyData/2004NoDup.csv")
h = pd.read_csv("../Data/YearlyData/2003NoDup.csv")
j = pd.read_csv("../Data/YearlyData/2002NoDup.csv")
k = pd.read_csv("../Data/YearlyData/2001NoDup.csv")
l = pd.read_csv("../Data/YearlyData/2000NoDup.csv")
df = one.append(two, ignore_index = True)
df = df.append(three)
df = df.append(four)
df = df.append(five)
df = df.append(q)
df = df.append(w)
df = df.append(e)
df = df.append(r)
df = df.append(t)
df = df.append(y)
df = df.append(u)
df = df.append(i)
df = df.append(o)
df = df.append(p)
df = df.append(a)
df = df.append(s)
df = df.append(d)
df = df.append(f)
df = df.append(g)
df = df.append(h)
df = df.append(j)
df = df.append(k)
df = df.append(l)
df.to_csv("Testing.csv")

C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = one.append(two, ignore_index = True)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(three)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(four)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(five)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(q)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(w)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(e)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(r)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(t)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:34: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(y)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(u)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(i)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:37: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(o)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(p)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:39: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(a)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(s)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:41: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(d)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:42: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(f)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(g)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(h)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(j)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(k)
C:\Users\ofior\AppData\Local\Temp\ipykernel_6460\4120285331.py:47: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(l)

In [16]:
df.to_csv("../Full.csv")

In [19]:
df.iloc[:, 2]

0       Precious Achiuwa
1           Steven Adams
2            Bam Adebayo
3           Ochai Agbaji
4           Santi Aldama
             ...
395    Dedric Willoughby
396     Haywoode Workman
397    Metta World Peace
398      Lorenzen Wright
399            Tim Young
Name: Player, Length: 10386, dtype: object

In [22]:
ex = df.iloc[:, [2,3,4,5,6,7,8, 9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26, 27, 28, 29, 30, 39, 62, 63, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 127, 129, 130, 131, 132, 133, 134, 137, 138, 139, 140, 143, 144, 146, 147, 149, 150, 155 ]]
ex.to_csv("../Data/AllPlayerNoSalaryNotCleaned.csv")

In [16]:
df = pd.read_csv("../Data/AllPlayerNoSalaryNotCleaned.csv")

columns=df.columns.values.tolist()
#print(columns)
columns_wanted=["Tm", "Player",'G','3P','3P%','2P','2P%','FT%','ORB','DRB','AST','STL','BLK','TOV','PTS','ORB%','DRB%','AST%','STL%','BLK%','USG%','PG%','SG%','SF%','PF%','C%','PGA','Blkd','Dist.','%2PFGA','0-3%FGA','3-10%FGA','10-16%FGA','16-3P%FGA','%3PFGA','0-3FG%','3-10FG%','10-16FG%','16-3PFG%','2P%A','3P%A','Dunk%FGA','C3%3PA','C33P%', 'Season']
columns_not_wanted=[]
for i in columns:
    if i not in columns_wanted:
        columns_not_wanted.append(i)
print(columns_not_wanted)
convert_dict={}
df_stats=df.drop(columns=columns_not_wanted)
columns_stat=df_stats.columns
#print(columns_stat)
for column in columns_stat:
    convert_dict[column]=str

#how to combine players that are traded mid season
#convert_dict={'G':str,'3P':str,'3P%':str,'2P':str,'2P%':str,'FT%':str,'ORB':str,'DRB':str,'AST':str,'STL':str,'BLK':str,'TOV':str,'PTS':str,'ORB%':str,'DRB%':str,'AST%':str,'STL%':str,'BLK%':str,'USG%':str,'PG%':str,'SG%':str,'SF%':str,'PF%':str,'C%':str,'PGA':str,'Blkd':str,'Dist.':str,'%2PFGA':str,'0-3%FGA':str,'3-10%FGA':str,'10-16%FGA':str,'16-3P%FGA':str,'%3PFGA':str,'0-3FG%':str,'3-10FG%':str,'10-16FG%':str,'16-3PFG%':str,'2P%A':str,'3P%A':str,'Dunk%FGA':str,'C3%3PA':str,'C33P%':str}
df_stats=df_stats.astype(convert_dict)
df_stats['G']=df_stats['G'].str.replace('%','')
df_stats['3P']=df_stats['3P'].str.replace('%','')
df_stats['3P%']=df_stats['3P%'].str.replace('%','')
df_stats['2P']=df_stats['2P'].str.replace('%','')
df_stats['2P%']=df_stats['2P%'].str.replace('%','')
df_stats['FT%']=df_stats['FT%'].str.replace('%','')
df_stats['ORB']=df_stats['ORB'].str.replace('%','')
df_stats['DRB']=df_stats['DRB'].str.replace('%','')
df_stats['AST']=df_stats['AST'].str.replace('%','')
df_stats['STL']=df_stats['STL'].str.replace('%','')
df_stats['BLK']=df_stats['BLK'].str.replace('%','')
df_stats['TOV']=df_stats['TOV'].str.replace('%','')
df_stats['PTS']=df_stats['PTS'].str.replace('%','')
df_stats['ORB%']=df_stats['ORB%'].str.replace('%','')
df_stats['DRB%']=df_stats['DRB%'].str.replace('%','')
df_stats['AST%']=df_stats['AST%'].str.replace('%','')
df_stats['STL%']=df_stats['STL%'].str.replace('%','')
df_stats['BLK%']=df_stats['BLK%'].str.replace('%','')
df_stats['USG%']=df_stats['USG%'].str.replace('%','')
df_stats['PG%']=df_stats['PG%'].str.replace('%','')
df_stats['SG%']=df_stats['SG%'].str.replace('%','')
df_stats['SF%']=df_stats['SF%'].str.replace('%','')
df_stats['PF%']=df_stats['PF%'].str.replace('%','')
df_stats['C%']=df_stats['C%'].str.replace('%','')
df_stats['PGA']=df_stats['PGA'].str.replace('%','')
df_stats['Blkd']=df_stats['Blkd'].str.replace('%','')
df_stats['Dist.']=df_stats['Dist.'].str.replace('%','')
df_stats['%2PFGA']=df_stats['%2PFGA'].str.replace('%','')
df_stats['0-3%FGA']=df_stats['0-3%FGA'].str.replace('%','')
df_stats['3-10%FGA']=df_stats['3-10%FGA'].str.replace('%','')
df_stats['10-16%FGA']=df_stats['10-16%FGA'].str.replace('%','')
df_stats['16-3P%FGA']=df_stats['16-3P%FGA'].str.replace('%','')
df_stats['%3PFGA']=df_stats['%3PFGA'].str.replace('%','')
df_stats['0-3FG%']=df_stats['0-3FG%'].str.replace('%','')
df_stats['3-10FG%']=df_stats['3-10FG%'].str.replace('%','')
df_stats['10-16FG%']=df_stats['10-16FG%'].str.replace('%','')
df_stats['16-3PFG%']=df_stats['16-3PFG%'].str.replace('%','')
df_stats['2P%A']=df_stats['2P%A'].str.replace('%','')
df_stats['3P%A']=df_stats['3P%A'].str.replace('%','')
df_stats['Dunk%FGA']=df_stats['Dunk%FGA'].str.replace('%','')
df_stats['C3%3PA']=df_stats['C3%3PA'].str.replace('%','')
df_stats['C33P%']=df_stats['C33P%'].str.replace('%','')

df_stats['PG%']
columns_stat=df_stats.columns
convert_dict={}
for column in columns_stat:
    if (column == "Tm") | (column == "Player"): convert_dict[column] = str
    else: convert_dict[column]=float
#convert_dict={'G':float,'3P':float,'3P%':float,'2P':float,'2P%':float,'FT%':float,'ORB':float,'DRB':float,'AST':float,'STL':float,'BLK':float,'TOV':float,'PTS':float,'ORB%':float,'DRB%':float,'AST%':float,'STL%':float,'BLK%':float,'USG%':float,'PG%':float,'SG%':float,'SF%':float,'PF%':float,'C%':float,'PGA':float,'Blkd':float,'Dist.':float,'%2PFGA':float,'0-3%FGA':float,'3-10%FGA':float,'10-16%FGA':float,'16-3P%FGA':float,'%3PFGA':float,'0-3FG%':float,'3-10FG%':float,'10-16FG%':float,'16-3PFG%':float,'2P%A':float,'3P%A':float,'Dunk%FGA':float,'C3%3PA':float,'C33P%':float}
df_stats=df_stats.astype(convert_dict)

df_stats[['PG%', 'SG%', 'SF%', 'PF%', 'C%']] = df_stats[['PG%', 'SG%', 'SF%', 'PF%', 'C%']].fillna(0)

df_stats['TruePos'] = (df_stats['PG%'] * 1 + df_stats['SG%'] *2 + df_stats['SF%'] * 3 + df_stats['PF%'] *4 + df_stats['C%'] * 5) / 100

pg = df_stats[df_stats['TruePos'] <= 1.5]
sg = df_stats[(df_stats['TruePos'] > 1.5) & (df_stats['TruePos'] <= 2.5)]
sf = df_stats[(df_stats['TruePos'] > 2.5) & (df_stats['TruePos'] <= 3.5)]
pf = df_stats[(df_stats['TruePos'] > 3.5) & (df_stats['TruePos'] <= 4.5)]
c = df_stats[df_stats['TruePos'] > 4.5]

['Unnamed: 0', 'Pos', 'Age', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3PA', '2PA', 'eFG%', 'FT', 'FTA', 'TRB', 'PF', 'TMP', 'ORtg', 'DRtg', 'PER', 'TS%', 'FTr', 'TRB%', 'TOV%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'OnCourt', 'On-Off', 'BadPass', 'LostBall', 'ShootFC', 'OffFC', 'ShootFD', 'OffFD', 'And1', 'Dunks']

In [18]:
df_stats.to_csv("../Data/AllPlayerNoSalaryCleaned.csv")

In [29]:
salary = pd.read_csv("../Data/SalaryData/2000Salary.csv")
salary

               Player    Salary
0    Shaquille O'Neal  17142858
1       Kevin Garnett  16806300
2     Alonzo Mourning  15004800
3        Juwan Howard  15000000
4       Patrick Ewing  15000000
..                ...       ...
511        Andy Panko      5000
512    Steve Goodrich      4529
513     Trevor Winter      4529
514        Ira Bowman      4529
515      Jason Sasser      2706

[516 rows x 2 columns]

In [36]:
stats = pd.read_csv("../Data/YearlyData/2000NoDup.csv")
stats['Player'] = stats['Player'].str.replace(r'\*$', '')
stats

C:\Users\ofior\AppData\Local\Temp\ipykernel_21284\4036182890.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  stats['Player'] = stats['Player'].str.replace(r'\*$', '')

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,Unnamed: 144,%FGA,#,Unnamed: 147,%3PA,3P%.2,Unnamed: 150,Att.,#.1,-9999.1
0,0,1,Tariq Abdul-Wahad,SG,25,TOT,61,56,25.9,4.5,...,NaN,0.099,54,NaN,0.130,0.333,NaN,0,0,abdulta01
1,3,2,Shareef Abdur-Rahim,SF,23,VAN,82,82,39.3,7.2,...,NaN,0.086,101,NaN,0.563,0.370,NaN,2,0,abdursh01
2,4,3,Cory Alexander,PG,26,DEN,29,2,11.3,1.0,...,NaN,0.010,1,NaN,0.171,0.167,NaN,0,0,alexaco01
3,5,4,Ray Allen,SG,24,MIL,82,82,37.4,7.8,...,NaN,0.043,54,NaN,0.273,0.459,NaN,12,0,allenra02
4,6,5,Rafer Alston,PG,23,MIL,27,0,13.4,1.0,...,NaN,0.000,0,NaN,0.571,0.375,NaN,1,0,alstora01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,488,434,Dedric Willoughby,PG,25,CHI,25,1,20.3,2.4,...,NaN,0.000,0,NaN,0.163,0.313,NaN,0,0,willode01
396,490,436,Haywoode Workman,PG,34,TOT,36,2,9.7,0.9,...,NaN,0.000,0,NaN,0.349,0.400,NaN,0,0,workmha01
397,493,437,Metta World Peace,SF,20,CHI,72,63,31.1,4.3,...,NaN,0.040,27,NaN,0.283,0.278,NaN,2,0,artesro01
398,494,438,Lorenzen Wright,C,24,ATL,75,0,16.1,2.4,...,NaN,0.089,32,NaN,0.333,1.000,NaN,1,0,wrighlo02
399,495,439,Tim Young,C,23,GSW,25,0,5.5,0.5,...,NaN,0.000,0,NaN,NaN,NaN,NaN,0,0,youngti01

In [37]:
merged = pd.merge(stats, salary, on='Player', how = 'left')
merged

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,%FGA,#,Unnamed: 147,%3PA,3P%.2,Unnamed: 150,Att.,#.1,-9999.1,Salary
0,0,1,Tariq Abdul-Wahad,SG,25,TOT,61,56,25.9,4.5,...,0.099,54,NaN,0.130,0.333,NaN,0,0,abdulta01,1594920.0
1,3,2,Shareef Abdur-Rahim,SF,23,VAN,82,82,39.3,7.2,...,0.086,101,NaN,0.563,0.370,NaN,2,0,abdursh01,9000000.0
2,4,3,Cory Alexander,PG,26,DEN,29,2,11.3,1.0,...,0.010,1,NaN,0.171,0.167,NaN,0,0,alexaco01,1980000.0
3,5,4,Ray Allen,SG,24,MIL,82,82,37.4,7.8,...,0.043,54,NaN,0.273,0.459,NaN,12,0,allenra02,9000000.0
4,6,5,Rafer Alston,PG,23,MIL,27,0,13.4,1.0,...,0.000,0,NaN,0.571,0.375,NaN,1,0,alstora01,301875.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,488,434,Dedric Willoughby,PG,25,CHI,25,1,20.3,2.4,...,0.000,0,NaN,0.163,0.313,NaN,0,0,willode01,134956.0
396,490,436,Haywoode Workman,PG,34,TOT,36,2,9.7,0.9,...,0.000,0,NaN,0.349,0.400,NaN,0,0,workmha01,510000.0
397,493,437,Metta World Peace,SF,20,CHI,72,63,31.1,4.3,...,0.040,27,NaN,0.283,0.278,NaN,2,0,artesro01,1079760.0
398,494,438,Lorenzen Wright,C,24,ATL,75,0,16.1,2.4,...,0.089,32,NaN,0.333,1.000,NaN,1,0,wrighlo02,4400000.0
399,495,439,Tim Young,C,23,GSW,25,0,5.5,0.5,...,0.000,0,NaN,NaN,NaN,NaN,0,0,youngti01,301875.0

In [42]:
df = pd.read_csv("../Data/AllPlayerNoSalaryCleaned.csv")
df["Season"].value_counts()

2022.0    494
2021.0    484
2023.0    467
2018.0    463
2019.0    462
2015.0    452
2020.0    448
2017.0    444
2016.0    439
2014.0    439
2013.0    433
2012.0    433
2006.0    428
2007.0    424
2005.0    422
2011.0    421
2008.0    415
2010.0    415
2009.0    409
2002.0    406
2000.0    399
2004.0    396
2003.0    396
2001.0    396
Name: Season, dtype: int64